<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div id="contact">
    <div id="top">
        <h1>Напишите нам!</h1>
    </div>
    <div id="center">
  <div id="contact_form">

<form [formGroup]="postMessageForm"  (ngSubmit)="onSubmit()">
  <span class="input">
  <label for="name"><b>Ваше имя:</b> </label>
  <input  #spyname   type="text" id="name" name="name" formControlName = "contactName"  [patterns]="nameSymbolPattern" mask="NNNNNNNNNN" [validation]="false" autocomplete="off"/>
  @if (contactName?.touched && contactName?.invalid) {
  <div class="error">Пожалуйста, представьтесь</div> }
  </span>
  
  <span class="input">
  <label for="email"><b>Ваш Email:</b> </label>
  <input  #spymail  type="text" id="email" name="email" formControlName = "contactMail" mask ="A*@A*.SSS" [validation]="false" [dropSpecialCharacters]="false" autocomplete="off" />
  @if (contactMail?.touched && contactMail?.invalid) {
    <div class="error">Пожалуйста, укажите корректный email</div> }
</span>
  <span class="input">
    <label for="phone"><b>Ваш телефон:</b> </label>
    <input #spyphone  type="text" id="phone" name="phone" formControlName = "contactPhone" prefix="+7" mask="(000) 000 00 00" [validation]="true" autocomplete="off"/>
    @if (contactPhone?.touched && contactPhone?.invalid) {
      <div class="error">Пожалуйста, укажите корректный номер телефона</div> }
    </span>
  
  <span class="input">
  <label for="sales"><b>Тема:</b> </label>
  <select #spytopic  id="sales" name="sales" formControlName="topicId" >
    <option *ngFor="let currentTopic of topics" [value]="currentTopic.id">{{currentTopic.name}}</option>
  </select>

  <div class="warning">{{this.formApi.topicRequestErrorMessage}}</div>

  @if (topicId?.touched && topicId?.invalid) {
    <div class="error">Пожалуйста, укажите тему из списка</div> }
  </span>
  

  <span class="input">
  <label for="message"><b>Ваше сообщение:</b> </label>
  <textarea #spymsg  id="message" name="message" formControlName="messageText" placeholder="Введите ваше сообщение..." ></textarea>
  @if (messageText?.touched && messageText?.invalid) {
    <div class="error">Оставьте сообщение.</div> }
  </span>
  
  
  <span class="input">
  <label for="security_code"><b>Пройдите капчу:</b> </label>
  <input #spyca  class="noicon" type="text" id="security_code" name="security_code" style="width:100px" autocomplete="off"/>
  <!-- @if (capcha?.touched && capcha?.invalid) {
    <div class="error">Введите проверочный код.</div> } -->
</span>
<span id="submit" class="input">
  <label for="submit"></label>
   <input type="submit" value="Отправить письмо!" [disabled]="!postMessageForm.valid || this.success"/>
  </span>
  <div class="warning">{{this.formApi.postFormRequestErrorMessage}}</div>
  <div class="success" [hidden]="!this.success">Сообщение успешно отправлено!</div>
  <div>{{this.postMessageForm.value | json}}</div>
  </form>
    </div>
  </div>
  <div id="bot"><!--bottom--></div>
  @if (this.success) {
  <div class="answer" [hidden]="!this.success">
    <h2 align="center">Ответ сервера, вырезка из базы данных:</h2>
    <app-answer [postedMessage]="this.postedMessage"
    ></app-answer>
  </div> }


